/* universal */

  body {
    font-size: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #3F3F3F;
    font-family: 微軟正黑體;
  }

  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    height: 100px;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(255,255,255,0.3); 
    /* 用紅色好像不錯 */
  }



/* banner */

  #banner {
    height: 60px;
    background: rgba(255, 255, 255, 0.98);
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;
    z-index: 1;
    position: fixed;
  }

  #banner h1 {
    font-size: 30px;
    text-align: center;
    font-family: "Segoe UI","微軟正黑體",sans-serif;
    font-weight: bold;
    color: #466B91;
  }



/* front-img */

  #front-img img {
    width: 100%;
    height: auto;
  }



/* Content */
#about,
#skills,
#portfolios {
  background: white;
  height: auto;
}

#education,
#experiences {
  background: #F5F5F5;
  height: auto;
  /* display:flex;
  align-items:center;
  justify-content:center;
  position: relative; */
}

.content {
  width: 100%;
  /* height: 300px; */
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content_section {
  width: 70%;
  height: 100%;
}

.content_title {
  width: 100%;
  height: 40px;
  position: relative;
  float: top;
  top: 0;
  font-size: 35px;
}

.content_description {
  width: 100%;
  /* height: 300px; */
  /* border: 1px solid red; */
}

/* Skills */
#progress_bar_container {
  width: 80%;
}

.progress_bar {
  width: 96.5%;
  height: 33px;
  margin: 10px;
  padding: 0;
  float: center;
  /* left: 50%; */
  background: #ebd3e8;
  /* position:absolute; */
  /* left: 50%; */
}

.bar {
  background: #dab1d5;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
}

.bar h3 {
  margin: 0 0 0 10px;;
}

/* Portfolios */

.portfolio_box {
  text-align: left;
}

.portfolio_img {
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: auto;
}

.portfolio_img img {
  width: 100%;
  height: auto;
}



/* goto top */

#goto_top {
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
}

.next_btn{
  width: 30px;
  height: 30px;
  margin: 0px 10px 10px 10px;
}

a.move {
  position: relative;

  /* bottom: 0px; */
  /* right: 50%; */
}

a.move img {
  opacity: 0.3;
}



/* Footer */

footer {
  padding: 4rem 0;
  /* border-top: 1px solid #999999; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  background: #466B91;
  color: black;
  text-align: center;
  height: 58px;
}

#contact img{
  width: 30px;
  height: 30px;
  margin: 0px 10px 10px 10px;
}